#main_nav .navbar-nav {
    margin-top: 5px;
}

/*makes possible to put image instead of text name of the rand*/
.navbar-brand {
    padding: 0;
  }
  
  /*navbar is made transparent, and color set to specific*/
  .navbar-default {
      background-color: transparent;
      border-color: transparent;
  }
  
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      background-color: transparent;
  }
  
  /*remove space after navbar*/
  .navbar {
      margin-bottom: 10px;
  }

/*Dropdown 2*/

.dropdown .dropbtn, .dropdown:hover .dropbtn {
    padding-top: 0;
    padding: 6px 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
    min-height: 40px;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 189px;
    min-height: 40px;
    background: rgba(0, 0, 0, 0.7);
}

.dropdown-content a {
    text-align: center;
    opacity: 1.0;
    color: white;
    min-width: 189px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: transparent; color: rgb( 229, 216, 0 );}

.dropdown:hover .dropdown-content {
    display: block;
}

/**/

/*Dropdown*/
#language_menu .dropdown .dropbtn {
    background:#000000;
    color: rgb( 229, 216, 0 );
    border: 1px solid;
    width: 33px;
    height: 33px;
    min-width: 33px;
    min-height: 33px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    padding: 0;
}

#language_menu .dropdown {
    position: relative;
    display: inline-block;
}

#language_menu .dropdown .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: transparent;
}

#language_menu .dropdown-content a {
    font-family: MicraDi;
    color: rgb( 229, 216, 0 );
    background: #000000;
  border-image: linear-gradient(to top, #3b3f42 0%,#f0e7ce 23%,#ffffff 29%,#f0e7ce 47%,#ffff34 57%,#dfa223 76%,#17160f 100%);
  border-image-slice: 1;
  border: 1px solid;
  border-radius: 4px;
  padding:0;
  min-width: initial;
    width: 33px;
    height: 33px;
    text-decoration: none;
    display: block;
}

#language_menu .dropdown-content a:hover {background-color: #000000; color:white;}

#language_menu .dropdown:hover .dropdown-content {
    display: block;
}

#language_menu .dropdown:hover .dropbtn {
    background-color: transparent;
    margin-bottom: 5px;
}